@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.wc_decripciones {
   margin-top: 3rem;

   h1 {
      font-size: 2.2rem;
      font-weight: 400;
      margin: 0 0 1.5rem 0;

      span {
         font-weight: 900;
      }
   }

   @include m.tablet {
      h1 {
         font-size: 2.5rem;
      }
   }
   
   ul li {
      color: v.$negro;
   }

   p {
      color: v.$negro;
      text-align: justify;
      line-height: 1.5;
      
      &:last-of-type {
         margin: 0;
      }
   }
}

.accesos {
   display: flex;
   gap: .5rem;

   a {
      border-radius: .5rem;
      padding: .5rem 1rem;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }

   .intranet {
      background-color: v.$azul;
      color: v.$blanco;
      gap: .5rem;

      &:hover {
         background-color: color.adjust(v.$azul, $lightness: -20%);
      }
   }
}