// Colores
$azul: #1D57C5;
$verde: #00615A;
$blanco: #FFFFFF;
$negro: #000000;
$gris: #E3E3E3;

$celeste: #29ABE2;
$rojo: #AC1112;
$amarillo: #EEB82C;

// Membresia
$basico : #5b8fb5;
$clasico: #41C1d5;
$fondoclasico: #E0F5FC;
$premium: #F39200;

$premiumdos: #eeb82c;
$fondopremium: #efe2d3;
$plateado: #d9EbE9;
$dorado: #EFB810;

// Media Queries
$tablet: 750px;
$desktop: 1200px;