@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

$headerwebp: '../../build/img/acispro-header.webp';
$headerjpg: '../../build/img/acispro-header.jpg';
$headeravif: '../../build/img/acispro-header.avif';

.acispro {

   &__header {
      background-color: v.$azul;
      background-image: image-set(url($headeravif) 1x, url($headerwebp) 1x, url($headerjpg) 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: auto;
      min-height: 80vh;
      border-bottom: 1rem solid color.adjust(v.$azul, $lightness: 5%);
   }

   &__contenedor {
      @include m.contenedor;
      padding: 2rem 0;

      &--header {
         @include m.desktop {
            height: 80vh;
            padding-bottom: 0;
         }
      }
   }

   &__grid {
      @include m.grid(1, 2rem);
      height: 100%;
      align-items: flex-end;

      @include m.desktop {
         @include m.grid(2, 2rem);
      }
   }

   &__item {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      @include m.desktop {
         justify-content: flex-end;
      }

      @include m.desktop {
         padding-right: 3rem;
      }
   }

   &__titulo {
      color: v.$blanco;
      font-weight: 100 !important;
      text-align: center;
      margin: 0 auto;
      line-height: 1;
      max-width: 35rem;
      @include m.texto-fluido(2rem, 3rem);

      @include m.desktop {
         text-align: left;
         margin: 0
      }

      span {
         font-weight: 700;
      }
   }

   &__slagan {
      display: flex;
      flex-direction: column;
      color: v.$blanco;
      margin-top: 1rem;
      border-top: 1px solid v.$blanco;
      padding-left: .5rem;
      font-size: 1.5rem;
      text-align: center;

      @include m.desktop {
         border-left: 3px solid v.$blanco;
         border-top: none;
         text-align: left
      }

      span {
         font-weight: 700;
         line-height: 1
      }
   }

   &__section {
      padding: 2rem 0;

      &--barra {
         background-color: v.$azul;
         padding: 1rem 0;
      }

      &--gris {
         background-color: color.adjust(v.$gris, $lightness: 5%);
         padding: 1rem 0;
      }

      &--testimonios {
         background-image: linear-gradient(90deg, color.adjust(v.$azul, $lightness: 10%) 0%, color.adjust(v.$celeste, $lightness: 0%) 100%);
         padding: 3rem 0;
      }
   }

   &__imagen {
      width: 100%;

      &--icono {
         width: 5rem;
         margin: 0 auto;
      }

      &--contacto {
         width: 15rem;
      }

      &--logo {
         max-width: 25rem;
         margin-top: 1rem;
      }
   }

   &__img {
      width: 100%;
   }

   &__h2 {
      @include m.texto-fluido(1rem, 2.5rem);
      text-align: center;
      color: v.$blanco !important;
      margin: 0 !important;
      font-weight: 900;

      &--azul {
         color: v.$azul !important;
      }

      &--negro {
         color: v.$negro !important;
         @include m.texto-fluido(1rem, 2.8rem);
         font-weight: 500 !important;

         @include m.desktop {
            text-align: left;
         }

         span {
            font-weight: 900;
         }
      }
   }

   &__h3 {
      font-size: 1.2rem !important;
      border-left: 3px solid v.$negro;
      padding-left: .5rem;
      font-weight: bold;
      margin: 0 !important;
   }

   &__texto {
      font-size: .8rem !important;
      line-height: 1.5;
      margin-top: 1rem;
      color: v.$negro;
      margin-bottom: 0 !important;

      span {
         font-weight: 700;
      }

      &--evento {
         font-size: 1.8rem !important;
         color: v.$azul;
         line-height: 1;
      }
   }

   &__servicios {
      @include m.grid(1, 2rem);
      align-items: center;

      @include m.desktop {
         @include m.grid(2, 2rem);
      }
   }

   &__beneficios {
      @include m.grid(1, 2rem);
      @include m.tablet {
         @include m.grid(2, 2rem);
      }
      @include m.desktop {
         @include m.grid(4, 2rem);
      }
   }

   &__beneficio {
      @include m.sombra;
      border-radius: .5rem;
      overflow: hidden;
   }

   &__head {
      padding: .5rem 1rem;
      display: block;
      text-align: center;

      &--azul {
         background-color: color.adjust(v.$azul, $lightness: 5%);
      }

      &--verde {
         background-color: color.adjust(v.$celeste, $lightness: -2%);
      }
   }

   &__body {
      padding: 1rem;
   }

   &__redes {
      margin-top: 1rem;
      display: flex;
      gap: .5rem;

      p {
         margin-bottom: 0 !important;
         span {
            display: none;
         }
         i {
            color: v.$azul;
         }
      }
   }

   &__boton {
      @include m.boton(v.$verde, v.$blanco);

      & {
         font-size: 2rem;
         font-weight: 500;
         padding: .5rem 3rem;
         border-radius: 2rem;
      }
   }

   &__slider {
      margin-top: 1rem;
   }
}