@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

// $forma: '../../build/img/forma.svg';
$proximowebp: '../../build/img/fondo-2.webp';
$proximoavif: '../../build/img/fondo-2.avif';
$proximojpg: '../../build/img/fondo-2.jpg';
$portadawebp: '../../build/img/banner-fondo.webp';
$portadaavif: '../../build/img/banner-fondo.avif';
$portadajpg: '../../build/img/banner-fondo.jpg';

.inicio {

   &__contenedor {
      @include m.contenedor;
   }

   // Portada
   &__header {
      background-color: v.$blanco;
      background-image: image-set(url($portadaavif) 1x, url($portadawebp) 1x, url($portadajpg) 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .barra-top {
         height: 1.5rem;
         background-color: v.$secundario;
         background: linear-gradient(90deg, rgba(v.$secundario, 1) 0%, rgba(v.$azul, 1) 100%);
      }

      .barra-button {
         height: 1.5rem;
         background-color: v.$azul;
         background: linear-gradient(90deg, rgba(v.$azul, 1) 0%, rgba(v.$secundario, 1) 100%);
      }

      .flex {
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         @include m.desktop {
            flex-direction: row;
         }
      }

      .contenido {
         max-width: 33rem;
         padding-top: 3rem;
         display: flex;
         flex-direction: column;
         justify-content: end;
         padding-bottom: 1.5rem;

         img {
            display: block;
            max-height: 5rem;
         }
      }

      .titulo {
         margin: 0 !important;
         display: flex;
         flex-direction: column;
         font-size: 2rem;

         .verde {
            font-size: 2.5rem;
            color: v.$secundario;
         }

         .azul {
            font-size: 3.5rem;
            color: v.$azul;
            font-weight: bolder !important;
         }
      }

      .logos {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         margin-top: 2rem;
      }

      p {
         margin: 0 !important;
         padding: .3rem 1rem;
         border-radius: 1rem;
         font-size: .7rem;
         background-color: color.adjust(v.$gris, $lightness: -45%);
         color: v.$blanco;
         display: inline-block;
      }
   }

   &__h2 {
      text-align: center;
      line-height: 1.2 !important;
      @include m.texto-fluido(1rem, 2rem);

      span {
         font-weight: 500 !important;
      }

      &--blanco {
         color: v.$blanco !important;
      }

      &--desktop {
         display: none;
      }

      @include m.desktop {
         &--movil {
            display: none;
         }

         &--desktop {
            display: block;
         }
      }
   }

   &__h3 {
      @include m.texto-fluido(1rem, 1.2rem);
      margin: 1rem 0 0 0 !important;
      display: flex;
      flex-direction: column;
   }

   &__imagen {
      width: 100%;

      &--header {
         width: auto;
         max-height: 30rem;
      }
   }

   &__flex {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      flex-direction: column;
      padding: 3rem 0 0 0;

      @include m.desktop {
         flex-direction: row;
         gap: 2rem;
      }

      &--navidad {
         flex-direction: column-reverse;
         padding: 0;

         @include m.desktop {
            flex-direction: row;
         }
      }
   }

   &__item {

      &--contenido {
         width: 100%;
         text-align: center;

         @include m.desktop {
            width: 45%;
            text-align: left;
         }
      }

      &--header {
         width: 100%;
         text-align: center;

         @include m.desktop {
            flex: 1;
            text-align: right;
         }
      }
   }

   &__boton {
      @include m.boton(v.$blanco, v.$negro);

      & {
         padding: 1rem 2rem;
         font-size: 1.2rem;
      }
   }

   &__texto {
      &--slogan {
         color: v.$blanco !important;
         font-weight: bold;
         text-align: center;
         margin: 0 !important;
         @include m.texto-fluido(1rem, 1.5rem);

         @include m.desktop {
            text-align: left;
         }
      }

      &--blanco {
         color: v.$blanco;
      }

      &--years {
         color: v.$blanco ;
         @include m.texto-fluido(2rem, 3.2rem);
         text-align: center;
         font-weight: bold;
         line-height: 1.2;

         @include m.desktop {
            text-align: left;
         }

         span {
            font-weight: 500;
         }
      }

      &--nombre {
         color: v.$blanco;
         display: flex;
         flex-direction: column;
         line-height: 1.2;
         font-weight: bold;
         padding-right: 1.5rem;
         border-right: 3px solid v.$premium;
         margin: 0 !important;

         @include m.tablet {
            padding-right: 2rem;
            font-size: 1.6rem
         }
      }

      &--numero {
         @include m.texto-fluido(2rem, 3rem);
         color: v.$premium;
         line-height: 1.2;
         font-weight: bold;
         margin: 0 !important;
         padding-left: 1.5rem;

         @include m.tablet {
            padding-left: 2rem;
         }
      }

      &--navidad {
         display: flex;
         align-items: center;
         gap: .5rem;
         color: v.$blanco;
         font-size: 1.5rem;
         justify-content: center;

         @include m.tablet {
            justify-content: flex-start;
         }

         span {
            background-color: v.$premium;
            padding: .1rem 1rem;
            line-height: 1.2;
            border-radius: 1rem;
            font-size: 2.5rem;
            font-weight: bold;
         }
      }

      &--valido {
         font-size: .7rem;
         color: v.$blanco;
         margin: 0;
         text-align: center;

         span {
            font-weight: bold;
         }
      }

      &--barra {
         display: flex;
         justify-content: center;
         flex-direction: column;
         text-align: center;
         align-items: center;
         gap: .5rem;
         color: v.$blanco;
         margin: 0 !important;
         font-size: 1.5rem;

         @include m.tablet {
            flex-direction: row;
         }

         span {
            font-weight: bold;
            font-size: 2rem;
         }
      }
   }

   &__section {
      padding: 3rem 0;

      &--experiencia {
         background-color: v.$azul;
         background-image: image-set(url($proximoavif) 1x, url($proximowebp) 1x, url($proximojpg) 1x);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         height: auto;
      }

      &--maniqui {
         background-color: v.$gris;
      }

      &--oferta {
         background-color: color.adjust(v.$azul, $lightness: -12%);
         padding: 1.2rem 0;
      }
   }

   /** Testimonios */
   &__testimonios {
      @include m.grid(1, 1rem);

      @include m.tablet {
         @include m.grid(3, 2rem);
      }
   }

   /* Academicas */
   &__academicas {
      margin-top: 2rem;
      @include m.grid(1, 1.5rem);

      @include m.tablet {
         @include m.grid(2, 1.5rem);
      }

      @include m.desktop {
         @include m.grid(3, 2rem);
      }

   }

   &__academica {
      position: relative;
      overflow: hidden;
      border-radius: .5rem;
      @include m.sombra;

      &:hover img {
         transform: scale(1.1);
         transition: transform 5ms ease-out;
      }
   }

   /* Metodología */
   &__metodologias {
      margin-top: 2rem;
      @include m.grid(1, 2rem);

      @include m.desktop {
         @include m.grid(2, 2rem);
         align-items: center;
      }
   }

   &__metodologia {
      img {
         filter: drop-shadow(5px 10px 20px rgba(v.$azul, 0.15));
      }

      p {
         text-align: justify;
      }
   }

   /* Experiencia */
   &__experiencias {
      @include m.grid(1, 1rem);

      @include m.desktop {
         @include m.grid(2, 1rem);
         align-items: center;
      }
   }

   &__data {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1.5rem;

      @include m.desktop {
         justify-content: flex-start;
         padding: 0;
      }
   }

   /* Beneficios */
   &__beneficios {
      margin-top: 2rem;

      @include m.grid(1, 1.5rem);

      @include m.tablet {
         @include m.grid(2, 1.5rem);
      }

      @include m.desktop {
         @include m.grid(4, 1.5rem);
      }
   }

   &__beneficio {
      text-align: center;
      border-radius: 1rem;
      padding: 2rem 1.2rem;
      @include m.sombra;

      i {
         @include m.texto-fluido(3rem, 6rem);
         color: v.$azul;
      }
   }

}