@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

#btn-cambiar-curso {
   background-color: #ff6f00 !important;
   width: 100%;
}

.servicio {
   padding: 2rem 0;

   &__flex {
      display: flex;
      flex-direction: column-reverse;
      gap: 1.5rem;
      
      @include m.desktop {
         flex-direction: row;
      }
   }

   &__contenido {
      flex: 1;
   }
   
   &__header {
      border-bottom: 1px solid v.$azul;
   }

   &__h1 {
      @include m.texto-fluido(1rem, 1.5rem);
      margin-bottom: 2rem;
   }

   &__h2 {
      font-size: 1.5rem;
      margin: 1rem 0;
   }

   &__h3 {
      font-size: 1.2rem;
      margin: 1rem 0;
   }

   &__texto {
      margin-bottom: 0 !important;

      &--icono {
         display: flex;
         align-items: center;
         gap: 1rem;
      }

      i {
         color: v.$azul;
      }

      span {
         font-weight: bold;
      }

   }

   &__detalles {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem;

      p {
         margin: 0;
         display: flex;
         gap: 0.5rem;

         span {
            color: v.$azul;
            font-weight: bold;
         }
      }
   }

   &__codigo {
      margin-top: 1rem;
      span {
         font-weight: bold;
      }
   }

   &__alianza {
      border: 2px solid v.$celeste;
      background-color: color.adjust(v.$celeste, $lightness: 46%);;
      padding: 1rem;
      border-radius: 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;

      .titulo {
         font-weight: bold;
         font-size: 1.2rem;
      }
      img {
         width: 10rem;
      }

      .frase {
         color: red;
      }
   }

   /* Sidebar */
   &__sidebar {
      width: 100%;
      @include m.desktop {
         width: 30%;
         
      }
   }

   &__contenido-sidebar {
      padding: 1.5rem;
      background-color: color.adjust(v.$blanco, $lightness: -3%);
   }

   &__incluye {
      @include m.lista;
      display: flex;
      flex-direction: column;
      gap: .8rem;
      margin-bottom: 2rem;
   }

   &__lista {
      display: flex;
      gap: 1rem;
      align-items: center;

      i {
         width: 1.5rem;
         font-size: 1.1rem;
      }
   }

   &__descargar {
      @include m.boton(v.$verde, v.$blanco);
      &{
         width: 100%;
      }
   }
}