@use 'base/variables' as v;
@use 'base/mixins' as m;

// .wc_descripcion {
//    margin-top: 5rem;

//    p {
//       color: v.$negro;
//       text-align: justify;
//    }
// }

.wc_pagar {
   text-align: center;

   &__boton {
      @include m.boton(v.$azul, v.$blanco !important);
   }
}

.wc_info {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
   font-weight: bold;
   color: v.$negro;
   background-color: lighten(v.$amarillo, 20%);
   border-radius: .5rem;
   padding: .5rem;
}