@use 'base/variables' as v;
@use 'base/mixins' as m;

.wc_dirigido {
   ul {
      margin: 0;

      li {
         color: v.$negro;
         line-height: 1.5;
         margin-bottom: .5rem;
         &::marker {
            color: v.$verde;
         }
      }
   }
}