@use 'base/mixins' as m;
@use 'base/variables' as v;

.wc_header {
   @include m.grid(1, 2rem);
   border-bottom: 1px solid lighten(v.$verde, 10%);
   margin-bottom: 2rem;

   &__descripcion {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }

   .wc_datos {
      order: 2;
   }

   .wc_imagen {
      order: 1;
   }

   @include m.desktop {
      @include m.grid(2, 2rem);

      .wc_datos {
         order: 1;
      }
   
      .wc_imagen {
         order: 2;
      }
   }

   &__contenido {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      margin-bottom: 2rem;
      align-items: center;

      @include m.tablet {
         flex-direction: row;
      }
   }

   &__coordinador {
      color: v.$negro;
      margin: 0;
      span {
         font-weight: bold;
      }
   }

   &__descargar {
      font-weight: bold;
      font-size: 2rem;
      color: v.$verde;

      &:hover {
         color: darken(v.$verde, 10%);
      }
   }
}