@use 'base/variables' as v;
@use 'base/mixins' as m;

.wc_planes {
   // background-color: red;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   margin-top: 3rem;
   color: v.$negro;

   &__simple {
      @include m.grid(1, 2rem);
      max-width: 120rem;
      margin: 0 auto;

      @include m.tablet {
         @include m.grid(3, 2rem);
      }
   }

   &__cart {
      background-color: v.$gris;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      border-radius: 1rem;
      overflow: hidden;
   }

   &__body {
      
   }

   &__head {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      background-color: darken(v.$gris, 20%);
      font-weight: v.$bold;
      padding: 1rem;
   }

   &__contenido{
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      text-align: center
   }

   &__ul {
      @include m.reseter-lista;
   }

   &__li {
      
      display: flex;
      flex-direction: row;
      gap: .5rem;
      align-items: center;
      text-align: center;
   }

   &__footer {
      padding: 2rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: v.$bold;
      background-color: darken(v.$gris, 30%);
   }

   &__pagar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;

      &::before {
         content: "";
         width: 1.5rem;
         height: 1.5rem;
         border: 2px solid v.$azul;
         border-radius: 50%;
      }
   }

}