@use 'base/variables' as v;
@use 'base/mixins' as m;

.wc_simple {
   
   @include m.grid(1, 2rem);
   @include m.desktop {
      @include m.grid(3, 2rem);
   }

   &__opcion {
      display: flex;
      flex-direction: row;
      overflow: auto;
      border-radius: 1.5rem;

      &--regular {
         border: 1px solid darken(v.$gris, 20%);
         .wc_simple__simple {
            background-color: darken(v.$gris, 10%);
         }

         .active {
            background-color: lighten(v.$gris, 5%);
         }
      }

      &--clasico {
         border: 2px solid darken(v.$celeste, 10%);
         .wc_simple__simple {
            background-color: darken(v.$celeste, 10%);
         }

         .tiempo {
            color: v.$azul;
         }

         .active {
            background-color: lighten(v.$celeste, 30%);
         }
      }

      &--premium {
         border: 3px solid darken(v.$amarillo, 10%);
         .wc_simple__simple {
            background-color: darken(v.$amarillo, 10%);
         }

         .tiempo {
            color: v.$azul;
         }

         .active {
            background-color: lighten(v.$amarillo, 30%);
         }
      }
   }

   &__simple {
      width: 8rem;
      display: flex;
      justify-content: center;
      background-color: darken(v.$gris, 10%);
   }

   &__radio {
      width: 2rem;
      accent-color: v.$verde;
   }

   &__contenido {
      padding: 1rem 1rem 1rem 2rem;      
      flex: 1;
   }

   &__slogan {
      color: v.$negro;
      font-size: 1.2rem;
      margin: 0;

      span {
         font-weight: bold;
      }
   }

   &__tiempo {
      color: darken(v.$azul, 5%);
      font-size: 1.4rem;
   }

   // &__precio {
   //    color: v.$negro;
   //    font-size: 2.4rem;
   //    font-weight: bold;
   //    padding-left: 1rem;
   //    margin: 0;
   // }

   &__precio {
      @include m.precio;
   }
}

