@use 'base/variables' as v;
@use 'base/mixins' as m;

.wc_temario {
   ul {
      margin: 0;
      padding: 0;
      
      li {
         @include m.reseter-lista;
         padding: 1rem;
         background-color: lighten(v.$gris, 5);
         line-height: 1.5;
         font-weight: v.$delgado;
         color: v.$negro;
         margin-bottom: .5rem;
         border-radius: .5rem;

         &::before {
            content: '►';
            font-size: 2rem;
            color: v.$verde;
            font-size: 1.5rem;
            margin-right: 1rem;
         }
         
         &:nth-child(even) {
            background-color: darken(v.$gris, 2);
         }
      }

   }
}