@use 'base/variables' as v;
@use 'base/mixins' as m;

.wc_temario {
   ul {
      li {
         @include m.reseter-lista;
         padding: 1rem;
         background-color: lighten(v.$gris, 5);
         font-weight: 500;
         display: flex;
         flex-direction: row;
         align-items: center;

         &::before {
            content: '►';
            font-size: 2rem;
            color: v.$verde;
            font-size: 1.5rem;
            margin-right: 1rem;
         }
         
         &:nth-child(even) {
            background-color: darken(v.$gris, 5);
         }
      }

   }
}