@use 'base/variables' as v;
@use 'base/mixins' as m;

.wc_variaciones {
   @include m.grid(1, 2rem);
   @include m.tablet {
      @include m.grid(2, 2rem);
   }
   @include m.desktop {
      @include m.grid(3, 2rem);
   }

   &__opcion {
      display: flex;
      flex-direction: row;
      overflow: auto;
      border-radius: 1.5rem;
      border: 1px solid darken(v.$gris, 20%);
      background-color: lighten(v.$gris, 5%);
   }

   &__div {
      width: 5rem;
      display: flex;
      justify-content: center;
      background-color: darken(v.$gris, 10%);
   }

   &__radio {
      width: 2rem;
      accent-color: v.$verde;
   }

   &__contenido {
      padding: 1rem 1rem 1rem 1.5rem;      
      flex: 1;
   }

   &__slogan {
      color: v.$negro;
      font-size: 1.6rem;
      margin: 0;
   }

   &__precio {
      @include m.precio;
   }

   &__descripcion {
      border-top: 1px solid #ccc;
      padding: 1rem 0;
      margin-top: 1rem;
   }

   &__atributo {
      font-size: 1.1rem;
      line-height: 1.5;
      color: v.$negro;
      display: flex;
      flex-direction: row;
      gap: .5rem;

      &::before {
         content: '*';
      }

      p {
         margin: 0;
      }
   }
}