@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.wc_dashboard {
   &__user {
      text-align: center;
      font-size: 2.2rem;
      color: v.$verde;
      margin-bottom: 2rem;

      span {
         font-weight: bold;
         color: color.adjust(v.$verde, $lightness: -10%);
      }
   }

   &__titulo {
      text-align: center;
      color: v.$azul;
      margin-bottom: 0rem;
      font-size: 2rem;
   }

   &__grid {
      margin-top: 3rem;
      @include m.grid(1, 2rem);
      align-items: center;
      margin-bottom: 2rem;

      @include m.desktop {
         @include m.grid(2, 2rem);
      }
   }

   &__descripcion {
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

.incluye {
   margin-bottom: 3rem;

   &__h2 {
      color: v.$azul;
      text-align: center;
      margin: 0;
   }

   &__detalle {
      display: flex;
      flex-direction: column;
      gap: .6rem;
      @include m.contenedorSM;
      margin-top: 2rem;
      @include m.sombra;
      padding: 2rem;
   }

   &__item {
      font-weight: v.$delgado;
      display: flex;
      align-items: center;
      gap: 1rem;

      i {
         font-size: 1.2rem;
      }
   }
}

.woocommerce table tr td,
.woocommerce table tr th  {
   padding: 1rem 1.5rem !important;
}

.tutoriales {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 100%;

   &__h2 {
      font-size: 3rem;
      color: v.$azul;
      font-weight: 900;
   }

   &__texto {
      color: v.$verde;
      font-size: 2rem;
      font-weight: 900;
      margin-top: 1rem;
   }

   &__cantidad {
      font-weight: v.$bold;
      color: v.$verde;
   }

   &__slogan {
      font-size: 1rem;
      span {
         font-weight: v.$bold;
      }
   }

   &__video {
      border-radius: 2rem;
      border: 3px solid v.$verde;
      overflow: auto;
   }

   &__contenido {
      overflow-x: auto;
   }
}