@use 'base/variables' as v;
@use 'base/mixins' as m;

.wcm_shop {
   margin-top: 3rem;
   @include m.grid(1, 2rem);
   @include m.desktop {
      @include m.grid(2, 2rem);
   }

   &__cart {
      padding: 2rem;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      transition: transform 0.3s ease;

      &--clasico {
         background-color: lighten(v.$celeste, 8%);
      }

      &--premium {
         background-color: lighten(v.$amarillo, 8%);
      }
   }

   &__icono {
      font-size: 6rem;
      margin-right: 1.5rem;
      color: v.$gris;
   }

   &__texto {
      font-size: 1.1rem;
      color: v.$negro;
      margin: 0 !important;
      line-height: 2;

      &--precio {
         @include m.precio;
      }

      span {
         font-weight: bold;
         color: v.$negro;
      }
   }

   &__name {
      font-weight: bold;
   }

   &__activo.wcm_shop__cart--clasico {
      background-color: darken(v.$celeste, 8%);
      transform: scale(1.1);
   }

   &__activo.wcm_shop__cart--premium {
      background-color: darken(v.$amarillo, 8%);
      transform: scale(1.1);
   }

   &__activo .wcm_shop__name {
      text-transform: uppercase;
   }

   &__activo .wcm_shop__icono {
      color: v.$blanco;
   }

}

